@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;
  --color-base-100: #f0fafa;
  --color-base-content: #204a4f;
  --color-primary: #3ec6c1;
  --color-primary-content: #ffffff;
}
